@keyframes bouncing {
    0%{
        top: 0;
        left: 0;
    }
    25%{
        top: 200px;
    }
    50%{
        top: 0;

    }
    75%{
        top: 200px;
    }
    100%{
        top: 0;
        left: 1100px;
    }
}
.stage{
    background-color: bisque;
    height: 300px;
    width: 1200px;
    border: 1px solid darkgreen;
}

.ball{
   height: 100px;
   width: 100px;
   border: 1px solid red;
   background-color: red;
   border-radius: 50%;
   animation: bouncing 30s linear 0.1s infinite alternate; 
   animation-play-state: running;
   position: relative;
}